{{define "detail"}}
{{template "header"}}
    <h1>{{.Title}}</h1>

    <a href="/">Home</a>

    <table>
        <tr>
            <td>Desc: {{.Desc}}</td>
        </tr>
        <tr>
            <td>Estimate: {{.Estimate}}</td>
            <td>Time spent: {{.TotalTimeSpent}}</td>
        </tr>
        <tr>
            <td><a href="/{{.ID.Hex}}/timespent">add time spent on task</a></td>
        </tr>
        <tr>
            <td><a href="/{{.ID.Hex}}/update">Update</a></td>
            <td><a href="/{{.ID.Hex}}/delete">Delete</a></td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Time spent</th>
            <th>Date</th>
            <th>What did you do</th>
        </tr>
        {{range .TimeSpent}}
            <tr>
                <td>{{.Duration}}</td>
                <td>{{.FormatAsDate}}</td>
                <td>{{.Desc}}</td>
            </tr>
        {{end}}
    </table>
{{template "footer"}}
{{end}}