{{define "detail"}}
{{template "header"}}
    <div class="container">
        <h1>{{.Title}}</h1>

        <a class="btn btn-primary" href="/{{.ID.Hex}}/update">Update</a>
        <a class="btn btn-danger" href="/{{.ID.Hex}}/delete">Delete</a>

        <div class="row my-5 align-items-center">
            <div class="col-8 align-self-center">
                Desc: {{.Desc}}
            </div>
            <div class="col align-self-center">
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        Estimate: {{.Estimate}}
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        Time spent: {{.TotalTimeSpent}}
                    </div>
                    <div class="col align-self-center">
                            <a class="btn btn-success" href="/{{.ID.Hex}}/timespent">Add time</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th scope="col">Time spent</th>
                <th scope="col">Date</th>
                <th scope="col">What did you do</th>
            </tr>
            {{range .TimeSpent}}
                <tr>
                    <td>{{.Duration}}</td>
                    <td>{{.FormatAsDate}}</td>
                    <td>{{.Desc}}</td>
                </tr>
            {{end}}
        </table>
    </div>
{{template "footer"}}
{{end}}