{{define "detail"}}
{{template "header"}}
    <h1>{{.Title}}</h1>

    <td><a href="/">Home</a></td>

    <table>
        <tr>
            <td>Desc: {{.Desc}}</td>
        </tr>
        <tr>
            <td>Estimate: {{.Estimate}}</td>
        </tr>
        <tr>
            <td>Time spent: {{.TimeSpent}}</td>
        </tr>
        <tr>
            <td><a href="/{{.ID.Hex}}/update">Update</a></td>
        </tr>
        <tr>
            <td><a href="/{{.ID.Hex}}/timespent">add time spent on task</a></td>
        </tr>
        <tr>
            <td><a href="/{{.ID.Hex}}/delete">Delete</a></td>
        </tr>
    </table>
{{template "footer"}}
{{end}}