{{define "index"}}
{{template "header"}}
    <div class="container">
            <h1>Todos</h1>
        
            <table class="table">
                {{range .Todos}}
                    <tr>
                        <th scope="row"><a href="/{{.ID.Hex}}">{{.Title}}</a></th>
                        <td>Worked on for {{.TotalTimeSpent}} minutes</td>
                        <td><a class="btn btn-danger" href="/{{.ID.Hex}}/delete">Delete</a></td>
                    </tr>
                {{end}}
            </table>
    </div>
    
{{template "footer"}}
{{end}}