{{define "newtodo"}}
{{template "header"}}
    <div class="container">
        <h1>New Todo</h1>

        <form action="/newtodo" method="POST">
            <div class="form-row mt-4">
                <div class="col">
                    <input type="text" class="form-control" name="title" placeholder="Go todo title">
                </div>
                
                <div class="col">
                    <input type="number" class="form-control" name="estimate" placeholder="Estimate (minutes)">
                </div>
            </div>
                
            <div class="form-row my-4">
                <textarea class="form-control" name="description" placeholder="Go to description" rows="5"></textarea>
            </div>
    
            <button type="submit" class="btn btn-primary w-100">Go todo</button>
        </form>
    </div>  
{{template "footer"}}
{{end}}