{{define "timespent"}}
{{template "header"}}
    <div class="container">
        <h1>Add time to - {{.Title}}</h1>

        <form action="/{{.ID.Hex}}/timespent" method="POST">
            
            <div class="form-group">

                <input type="text" class="form-control mt-3" name="timespent" placeholder="Time spent">

                <textarea class="form-control my-3" name="description" placeholder="Go to description" rows="5"></textarea>

            </div>
    
            <button type="submit" class="btn btn-primary w-100">Update</button>

        </form>

    </div>  
{{template "footer"}}
{{end}}