{{define "update"}}
{{template "header"}}
    <div class="container">
        <h1>Update - {{.Title}}</h1>

        <form action="/{{.ID.Hex}}/update" method="POST">
            <div class="form-row mt-4">
                <div class="col">
                    <input type="text" class="form-control" name="title" placeholder={{.Title}}>
                </div>
                
                <div class="col">
                    <input type="number" class="form-control" name="estimate" placeholder={{.Estimate}}>
                </div>
            </div>
                
            <div class="form-row my-4">
                <textarea class="form-control" name="description" placeholder={{.Desc}} rows="5"></textarea>
            </div>
    
            <button type="submit" class="btn btn-primary w-100">Update</button>
        </form>
    </div>  
{{template "footer"}}
{{end}}